.header  {
  font-family: monospace;
  background: papayawhip;
  /* Set the header as a flex object */
  display: flex;
  /* Spacing of the  lists and logo*/
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  /* Gap between list elements */
  column-gap: 20px;
  /* Removes default padding of ~40px at 
  the beginning of the list */
  padding: 0px;
  justify-content: space-between;


  /* flex: 1 1 auto;
  flex-direction: row; */
}

a {

  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
  /* elements within the list do not grow */
  /* This line does not do anything, why? */
  /* Limited by the size of .right-links, which is defined by
  the default widths of the list elements */
  /* flex: 1 1 auto; */
}


.left-links {
  /* Can increase size of the left header region */
  /* flex: 1 1 auto;
  display: flex; */
}

.right-links {
} 